
.selectify{
    position: relative;
    color:#f58634;
	text-align:left;
	float:left;
}

.selectify .options{
    position:absolute;
    z-index:2;
    max-height:250px;
    /*overflow-y:auto;
	overflow-x:hidden;*/
}


.selectify .header{
	width:273px;
	height:auto;
	padding:10px 0 10px 25px; 
    background: #fff;    
    cursor:pointer;
	font: 13px 'Fauna One', Arial, Helvetica, sans-serif;
	color: #f58634;
	border: 1px solid #f58220;
	text-align:left;
	
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	border-radius:15px;
}

.selectify .header .icon{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f58220 transparent transparent;
    border-image: none;
    border-right: 7px solid transparent;
    border-style: solid;
    border-width: 7px;
    content: " ";
    height: 0;
    margin-left: 0px;
    position: absolute;
    width: 0;
    right: 15px;
    margin-top: -3px;
    position: absolute;
    top: 50%;
}

.selectify .header .selected{
    color:#f58634;
    font-size: 14px;
    padding: 0 10px;
}

.selectify .header.hover .selected{
    color:#f58634;
}

.selectify .header.hover .icon{
    border-color: #AA3B3F transparent transparent;
}

.selectify .option{
	width:240px;
    border: 1px solid #f58220;
    cursor:pointer;
    border-top:0;
    padding:5px 0 5px 10px;
    background:#FFF;
	font: 13px 'Fauna One', Arial, Helvetica, sans-serif;
	color: #f58634;
	overflow:auto;
	margin-left:25px;
}

.selectify .option.hover{
    background:#f0f0f0;
	color:#4d4d4d;
}

.selectify .option.active{
    background:#f0f0f0;
    color:#000;
}